.logo_brand{
  display: flex;
  background-color: #48B499;
  flex-direction: row;
  justify-content:space-between;
  padding: 0px 50px;
  height: 66px;
  align-items: center;

}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo_icon{
  margin-right: 10px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  color: white;
}

.logo_text{
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  color: white;
  font-family: "lato";
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-link{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  color: white;
  line-height: 24px;
  font-family: "lato";
}

.link{
  margin-right: 40px;
}

.icon{
  color: white;
}

.user{
  background-color: white;
  border-radius: 50%;
}

.user-icon{
  color: #48B499;
  padding: 10px;
}

.main-content{
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
}

.breadcrumb{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.breadcrumb_secondary{
  font-size: 16px;
  line-height: 16.5px;
  color: #9DA8BF;
  margin-right: 10px;
  font-family: "lato";
}

.breadcrumb_primary{
  color: #21294C;
  line-height: 16.5px;
  font-size: 16px;
  font-family: "lato";
}

.breadcrumb-icon{
  width: 4px;
  height: 8px;
  margin-right: 10px;
}

.image_container{
  background-color: #21294C;
  border-radius: 5px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 328px;
}

.game_detail{
  color: white;
  align-items: center;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-detail-heading{
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
  font-family: "lato";
}

.game-detail-subheading{
  font-size: 18px;
  line-height: 131.5%;
  font-family: "lato";
}

.match-detail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 30px;
}

.player-image{
  margin-top: -101px;
}

.match-complete-detail{
  display: flex;
  flex-direction: column;
}

.match-detail-player-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.country_image{
  width: 44px;
  height: 46.54px;
}

.country{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.player_name{
  width: 73px;
  height: 44px;
  font-size: 17px;
  line-height: 131.5%;
  text-align: center;
  color: white;
  margin-top: 10px;
  font-family: "lato";
}

.score{
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  background: #48B499;
  border-radius: 4px;
  padding: 2px 4px;
  font-family: "lato";
  color: #FFFFFF;
}

.additional-information{
  text-align: center;
  padding: 5px 10px;
  background: #324371;
  border-radius: 4px;
  color: #EBEFF9;
  font-size: 14px;
  line-height: 150%;
  margin-left: 5px;
  font-family: "lato";
}

.tab{
  width: 100%;
}

.tablinks{
  width: 50%;
  padding: 20px 14px;
  height: 65px;
  background: #EBEFF9;
  border-radius: 8px 8px 0px 0px;
  font-size: 20px;
  line-height: 145.7%;
  color: #21294C;
  font-family: "lato";
  border: none;
  margin-bottom: 50px;
}

.tablinks:first-child{
  border-bottom: 3px solid;
}

.content{
  display: flex;
  flex-direction: row;
  padding: 0px 30px;
  font-family: "lato";
}

.sidebar-link{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border: 1px solid #EBEFF9;
  border-radius: 5px;
  margin-right: 50px;
}

.sidebar-link li{
  width: 265px;
  height: 36px;
  padding-top: 20px;
  padding-left: 20px;
  font-family: "lato";
}

.heading{
  background: #EBEFF9;
  border-radius: 8px 8px 0px 0px;
  left: 26px;
  top: 21px;
  font-size: 20px;
  font-family: "lato";
  color: #21294C;
  font-weight: 700;
}

.main-sidebar-content{
  display: flex;
  flex-direction: column;
}

.content-heading{
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "lato";
}

.content-select{
  padding: 16px 18px;
  width: 233px;
  height: 56px;
  left: 0px;
  top: 31px;
  background: #FFEFD6;
  border-radius: 4px;
  margin: 8px 0px;
  font-family: "lato";
}

.tablinks-inner{
  width: 50%;
  height: 46px;
  background: #8C9EC8;
  border-radius: 8px;
  font-size: 20px;
  line-height: 145.7%;
  color: #21294C;
  border: none;
  margin-bottom: 20px;
  color: white;
  font-family: "lato";
}

.tablinks-inner:first-child{
  background: #405485;
}

.footer{
  height: 185px;
  background: #324371;
  color: white;
  padding: 50px 50px 0px 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-heading{
  font-weight: 600;
  font-size: 246x;
  font-family: "lato";
  line-height: 169.9%;
}

.footer-button{
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  color: #FFFFFF;
  background: #324371;
  height: 50px;
  width: 140px;
}

.footer-sub-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-social-links{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.footer-social-links li{
  padding-top: 20px;
  padding-left: 20px;
}

.social-icon{
  border: 2px solid #324371;
  
}

.footer-copyright{
  font-size: 18px;
  line-height: 232.52%;
  opacity: 0.7;
  font-family: "lato";
}

.more-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.more-content-icon{
  border-radius: 50%;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  font-size: 8px;
  font-family: "lato";
}

.more-content-text{
  display: flex;
  align-items: center;
  font-family: "lato";
}

.card-border{
  border: 1px solid #EBEFF9;
  padding: 30px;
}

.content-sidebar{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.content-heading{
  margin: 20px auto;
}

.content-heading-content{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.select-game{
  margin-left: 120px;
  margin-top: 230px;
}

.accordion{
  width: 980px;
  height: 68px;
  background-color: #EBEFF9;
  color: #444;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin: 10px 0px;
  font-family: "lato";
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\2039';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  transform: rotateZ(90deg);
  font-size: 30px;
  font-family: "lato";
}

.active:after {
  content: "\203A";
  transform: rotateZ(90deg);
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.shots{
  background: white;
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
}

table{
  width: 100%;
  text-align: center;
}

thead{
  height: 78px;
  background-color: #F4F6FB;
}

tbody tr{
  height: 78px;
}

tbody tr th{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  font-family: "lato";
}

tr:nth-child(even) {
  background-color: #F4F6FB;
}

.arrow{
  height: 18px;
  margin-top: 10px;
}

.arroweast{
  height: 18px;
  margin-top: 10px;
  transform: rotateZ(45deg)
}

.winner{
  color: #38B75B;
}

.error{
  color: #DD4242;
}